body {
    background-color: rgb(98, 213, 233); 
}

.header_div {

    background-color: lavenderblush;
    color: black;
    font-family: 'Shizuru', cursive;
}


.main_div button {

margin-top: 50px;
 width:130px;
 font-weight: bolder;

}

.copy_right_footer {

    position: fixed;
    color: rgb(134, 216, 236);
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(102, 186, 197);
line-height: 3;
 text-align: center;
  text-shadow: 5px 5px 5px rgb(86, 86, 233);
}
























